.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
}

.timer {
    font-size: 48px;
    margin: 20px;
}

.buttons {
    display: flex;
    gap: 10px;
}

.control-buttons {
    display: flex;
    gap: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.list-task-title {
    font-size: 20px !important;
}

.list-task-flags {
    font-size: 12px !important;
    padding-right: 20px !important;
}

.css-1fvksze {
    padding: 5px !important;
}


.table-header-yearly-goals {
    background-color: #029902;
}

.table-header {
    background-color: #1976d2;
}

.table-header-font {
    text-align: center !important;
    color: white !important;
    font-weight: bold !important;
}

.quadrat {
  width: 50px;
  height: 50px;
  -webkit-animation: blink-highlight 1s infinite;  /* Safari 4+ */
  -moz-animation: blink-highlight 1s infinite;  /* Fx 5+ */
  -o-animation: blink-highlight 1s infinite;  /* Opera 12+ */
  animation: blink-highlight 1s infinite;  /* IE 10+, Fx 29+ */
}

@-webkit-keyframes blink-highlight {
  0%, 49% {
  }
  50%, 100% {
    background-color: #f86666;
  }
}

.blink-box {
  width: 200px;
  height: 100px;
  animation: blinkBackground 1s infinite;
}

@keyframes blinkBackground {
  0% {
    background-color: #fff;
  }
  50% {
    background-color: #fdd4d4;
  }
  100% {
    background-color: #fff;
  }
}