ALLOWED_HOSTS=127.0.0.1,localhost
SECRET_KEY=your-secret-key-here
DB_NAME=pomotask
DB_USER=
DB_PASSWORD=
DB_HOST=localhost
AUTH_USERNAME=
AUTH_PASSWORD=
JWT_SECRET=
JWT_EXPIRY_MINUTES=3600
MONGO_CONTAINER_ID=
MONGO_ADMIN_USER=
MONGO_ADMIN_PASSWORD=
BACKUP_EMAIL=
GMAIL_APP_PASSWORD=
